<div id="about-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">PixiJS Bitmap Font from</h5>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#about-modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Created by <a href="https://jangarita.com" target="_blank" title="Go to JAngarita page">Johanny
                    Angarita</a>.</p>
                <p>Web tool to create Bitmap Fonts (Angel Code compatible <a
                        href="https://www.angelcode.com/products/bmfont/doc/file_format.html" target="_blank">format</a>),
                    using <a href="https://pixijs.download/dev/docs/PIXI.BitmapFont.html#from" target="_blank">PIXI.BitmapFont.from</a>.
                </p>
                <hr>
                <p>This tool is released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT
                    License</a>.</p>
            </div>
        </div>
    </div>
</div>
