<div class="accordion-item">
    <h2 id="fonts-head" class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#fonts-panel" aria-expanded="true" aria-controls="fonts-panel">Font
        </button>
    </h2>

    <div id="fonts-panel" class="accordion-collapse collapse show" aria-labelledby="fonts-head"
         data-bs-parent="#options-acc">
        <div class="accordion-body">
            <div class="input-group">
                <label class="input-group-text" for="font-family-inp">Font family</label>
                <select id="font-family-inp" class="form-select">
                </select>
            </div>

            <div class="input-group mt-3">
                <span id="font-size-desc" class="input-group-text">Font size</span>
                <input id="font-size-inp" class="form-control" type="number" step="1" min="5" max="800" value="32"
                       aria-label="Font size" aria-describedby="font-size-desc">
            </div>

            <div class="form-check form-switch mt-3">
                <input id="font-italic-chk" type="checkbox" class="form-check-input" role="switch">
                <label class="form-check-label" for="font-italic-chk">Italic</label>
            </div>

            <div class="form-check form-switch mt-3">
                <input id="font-bold-chk" type="checkbox" class="form-check-input" role="switch">
                <label class="form-check-label" for="font-bold-chk">Bold</label>
            </div>

            <div class="form-check form-switch mt-3">
                <input id="font-small-caps-chk" type="checkbox" class="form-check-input" role="switch">
                <label class="form-check-label" for="font-small-caps-chk">Small-caps</label>
            </div>
        </div>
    </div>
</div>
